@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Kalnia:wght@600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body{
    position: relative;
}

#red{
    background-color: red;
}

#grey{
    background-color: gray;
}

#purple{
    background-color:purple;
}

#brown{
    background-color: brown;
}
.color-box-con{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn{
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    border: 1px solid black
}
h1{
    position: absolute;
    top: 35vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
}