@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Kalnia:wght@600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(150deg,rgb(144, 61, 6),rgb(152, 4, 152));
    height: 70vh;
}
h1{
    margin-top: 30vh;
}
.container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.container p{
    font-size: 15px;
    font-weight: 600;
    color:rgb(45, 40, 40);
}

h1{
    text-align: center;
    font-size: 1.5rem;
}
input[type="text"]{
    border-radius: 20px;
    background-color: rgb(156, 135, 174);
    color: black;
    font-weight: 600;
    /* width: 8.5rem; */
    border: 1px solid gray;
    outline: none;
    padding: 6px;
}
.btn{
    margin-top: 1rem;
    border-radius: 20px;
    border: none;
    padding: 8px;
    background-color:rgba(17, 10, 17, 0.753);
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid gray;
}

.result-box{
    display:flex;
    justify-content: center;
    margin-top: 1rem;

}

.result-box span{
    font-weight: 600;
    font-size: 15px;
}

.weight-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.weight-guide{
    font-size: 15px;
    font-weight: 600;
    color: rgb(37, 33, 33);
    text-align: center;
}
